*{
    margin: 0;
    padding: 0;
}
body{
padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#transection-area{
    display: none;
}
.deposit{
    background: slateblue;
}
.withdraw{
    background: lightsalmon;
}
.balance{
    background: orange;
}
.status{
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    margin: 20px;
}
.deposit-box, .withdraw-box{
    box-shadow: 5px 5px 10px gray;
    padding: 20px;
}



@media(max-width:992px){
    body{
    padding: 10px;
    }
}